html, body {
overflow-x:hidden;
}

html {
scroll-behavior:smooth;
}





/*meny med bakgrund*/

header {

width:100%;
background:red;
border-top: 5px solid white;
border-left:5px solid white;
height:8em;
left:0em;
top:0em;
position:absolute;
}


/*meny minus bakgrund*/

ul {
list-style:none;
position:relative;
top:3.5em;
}

ul li {
display:inline-block;
position:relative;
}

ul li a {
display:block;
padding: 10px 12.5px;
color:black;
text-decoration:none;
text-align:center;
font-size:20px;
position:relative;
}

ul li ul.dropdown li {
display:block;
border-bottom:1px solid white;

}

ul li ul.dropdown {
width:100%;
background:red;
position:absolute;
z-index: 9999;
display:none;
top:100%;
left:0%;
}


ul li a:hover {
background:white;
text-align:center;
}

ul li:hover ul.dropdown {
display:block;
text-align:center;
}


.menyfilm {
top:8em;
position:absolute;
height:100%;
width:100%;
left:0em;
z-index:1;
}




.hemsiderubrik {
left:1em;
top:0em;
position:absolute;
z-index:999;
}


.hemsidelogga {
position:absolute;
width:10em;
height:6em;
left:35em;
top:1em;
}


/*sist klickad på menylänk blir aktiv med vitfärgad bakgrundsfärg*/

ul li a.active {
  background-color: white;
  color: black;
}











/*bakgrundsbilds ljud av vinden*/

#windSound {
z-index:9999;
position:absolute;
}



.wind-btn {
  position: absolute;
  z-index: 1;
  top: 10em;
  right: 1em;
  padding: 10px 16px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}

.wind-btn:hover {
  background: #f0f0f0;
}





/*få text att hamna över bild*/

.indexrubrik {

 position: absolute;
  z-index: 999;
  top:3em;
  left: 0.5em;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 6px black;

}

.indexcitat {
top:5em;
left:0.5em;
position:relative;
}

.galleribild1 {
position:absolute;
height:35em;
width:50em;
z-index:999;
top:30%;
left:3%;
}

.subtitle {
margin-top:-10%;
position:relative;
z-index:999;
}


.juni2026rubrik h1 {
top:5em;
left:1.75em;
position:absolute;
z-index: 999;
color:white;
}





.elfsight-app-90539be3-6ba4-45b3-8486-6bc17913fea7 {
z-index:999;
top:0em;
margin-top:0em;
position:relative;
}


#google_translate_element {
position:absolute;
left:50em;
}



/*skrollpilknappar*/

.scrolltotoparrow {
position:absolute;
z-index:999;
width:2em;
height:2em;
border-radius:50%;
bottom:-7.5em;
}

.scrolltobottomarrow {
position:absolute;
z-index:999;
width:2em;
height:2em;
border-radius:50%;
bottom:-7.5em;
top:9em;
background:white;
}